@use '../abstracts' as *;

.home-page {
  width: 100vw;
  overflow-x: hidden;
  
  .home-content {
    margin-top: 0;
    padding-top: $spacing-lg;
    background-color: $color-white;
    position: relative;
    z-index: 10;
  }
} 